<div class="header-parent">
    <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">
              <img class="brand-logo-size" src="/assets/images/creativa-logo.png" />
          </a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a routerLink="/" routerLinkActive="active-nav-link">Home</a></li>
            <li><a routerLink="/about" routerLinkActive="active-nav-link">About</a></li>
          </ul>
        </div>
      </nav>
</div>