<div class="home-banner">
  <!-- <div class="layer-1"></div> -->
  <img class="layer-1" src="/assets/images/layer-1.png" />
  <img class="layer-2 rellax" src="/assets/images/layer-2.png" data-rellax-speed="10"/>
  <div id="banner-holder" data-tilt data-tilt-full-page-listening data-tilt-speed="1000">
  <img class="layer-3 rellax" src="/assets/images/layer-3.png" data-rellax-speed="6"/>
</div>
    <img class="layer-4 rellax" src="/assets/images/layer-4.png" data-rellax-speed="2"/>

  <!-- <div class="layer-3">

  </div> -->
</div>
